@using Valentine.Client.Helpers
@inject IJSRuntime JS

<div id='map'></div>

@code {      


    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(10);
        await JS.InvokeVoidAsync("InitializeControls", Constants.Coordinates.NE, Constants.Coordinates.SW);
    }
}
